htdocs/api/phpfreeradius.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions name="phpfreeradius"
	targetNamespace="http://www.amberdms.com/phpfreeradius/api/phpfreeradius.wsdl"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.amberdms.com/phpfreeradius/api/phpfreeradius.wsdl"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
		targetNamespace="http://www.amberdms.com/phpfreeradius/api/phpfreeradius.wsdl"
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">

			<complexType name="fetch_nas_config">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="fetch_nas_config_row[]"/>
					</restriction>
				</complexContent>
			</complexType>

			<complexType name="fetch_nas_config_row">
				<all>
					<element name="nas_hostname" type="xsd:string"/>
					<element name="nas_shortname" type="xsd:string"/>
					<element name="nas_address" type="xsd:string"/>
					<element name="nas_address_2" type="xsd:string"/>
					<element name="nas_secret" type="xsd:string"/>
					<element name="nas_type" type="xsd:string"/>
					<element name="nas_ldapgroup" type="xsd:string"/>
					<element name="nas_description" type="xsd:string"/>
					<element name='nas_conditions' type='xsd1:fetch_nas_config_conditions'/>
				</all>
			</complexType>

			<complexType name="fetch_nas_config_conditions">
				<complexContent>
					<restriction base="soapenc:Array">
						<attribute ref="soapenc:arrayType" wsdl:arrayType="fetch_nas_config_conditions_row[]"/>
					</restriction>
				</complexContent>
			</complexType>

			<complexType name="fetch_nas_config_conditions_row">
				<all>
					<element name="cond_attribute" type="xsd:string"/>
					<element name="cond_ldapgroup" type="xsd:string"/>
				</all>
			</complexType>



		</schema>
	</types>


	<message name='authenticate_request'>
		<part name='server_name' type='xsd:string'/>
		<part name='api_auth_key' type='xsd:string'/>
	</message>

	<message name='authenticate_response'>
		<part name='return' type='xsd:int'/>
	</message>


	<message name='log_write_request'>
		<part name='timestamp' type='xsd:int'/>
		<part name='log_type' type='xsd:string'/>
		<part name='log_content' type='xsd:string'/>
	</message>

	<message name='log_write_response'>
		<part name='return' type='xsd:int'/>
	</message>


	<message name='check_update_version_response'>
		<part name='version' type='xsd:int'/>
	</message>


	<message name='set_update_version_request'>
		<part name='version' type='xsd:int'/>
	</message>

	<message name='set_update_version_response'>
		<part name='return' type='xsd:int'/>
	</message>


	<message name='fetch_nas_config_response'>
		<part name='return' type='xsd1:fetch_nas_config'/>
	</message>



	<portType name='phpfreeradius_porttype'>
		<operation name='authenticate'>
			<input message='tns:authenticate_request'/>
			<output message='tns:authenticate_response'/>
		</operation>

		<operation name='log_write'>
			<input message='tns:log_write_request'/>
			<output message='tns:log_write_response'/>
		</operation>

		<operation name='check_update_version'>
			<output message='tns:check_update_version_response'/>
		</operation>

		<operation name='set_update_version'>
			<input message='tns:set_update_version_request'/>
			<output message='tns:set_update_version_response'/>
		</operation>

		<operation name='fetch_nas_config'>
			<output message='tns:fetch_nas_config_response'/>
		</operation>

	</portType>

	<binding name='phpfreeradius_binding' type='tns:phpfreeradius_porttype'>
		<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>

		<operation name='authenticate'>
			<soap:operation soapAction='phpfreeradius'/>
			<input>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</input>

			<output>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</output>
		</operation>

		<operation name='log_write'>
			<soap:operation soapAction='phpfreeradius'/>
			<input>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</input>

			<output>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</output>
		</operation>
		
		<operation name='check_update_version'>
			<soap:operation soapAction='phpfreeradius'/>
			<output>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</output>
		</operation>

		<operation name='set_update_version'>
			<soap:operation soapAction='phpfreeradius'/>
			<input>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</input>
			<output>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</output>
		</operation>


		<operation name='fetch_nas_config'>
			<soap:operation soapAction='phpfreeradius'/>
			<output>
				<soap:body use='encoded' namespace='urn:amberdms:phpfreeradius' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
			</output>
		</operation>
	
	</binding>

<service name='phpfreeradius'>
  <port name='phpfreeradius_port' binding='phpfreeradius_binding'>
    <soap:address location='http://www.amberdms.com/phpfreeradius/api/phpfreeradius.php'/>
  </port>
</service>
</definitions>
